body {
    background: #000;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 3px;
}

h1 {
    font-size: 30px;
    font-weight: 800;
}

a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: .3s;
}

a:hover {
    opacity: 0.6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255,255,255,0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}
