body {
    background: #000;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    padding: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

button {
    background: #fff;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    opacity: 0.7;
}
